 <div class="top-main-visual">
    <div class="top-main-visual-content">
      <p class="top-main-visual-text">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
    </div>
  </div>

  <div class="products">
    <h2 class="products-heading">新着商品</h2>
    <div class="products-index">
      
      <% @newitems.each do |newitem| %>
        <div class="products-item">
          <%= link_to public_item_path(newitem) do %>
            <%#= attachment_image_tag newitem, :image, :fill, 150, 150, class:"items-item-img" %>
          <% end %>
          <section class="products-text">
            <h5 class="items-text-name"><%= newitem.name %></h5>
            <h5 class="items-text-price">¥<%= (newitem.item.price*1.1).floor %></h5>
          </section>
        </div>
      <% end %>
      
    </div>
    <p><%= link_to "全ての商品を見る>", public_items_path %></p>
  </div>