<div class="containar">
  <div class='row'>
    <div class='col-md-9 offset-md-1'>
      <table class="table table-borderless">
        <h5>ログイン</h5>
        <tbody>
          <p>会員の方はこちらからログイン</p>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <tr>
                <td>
                  <div class="form-group row">
                    <%#= f.label :メールアドレス %>
                    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
                    <label for="inputEmail3" class="col-sm-4 col-form-label">メールアドレス</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="sample@example.com">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group row">
                    <%#= f.label :パスワード %>
                    <%#= f.password_field :password, autocomplete: "current-password" %>
                    <label for="inputPassword3" class="col-sm-4 col-form-label">パスワード</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <!--<td>-->
                  <%# if devise_mapping.rememberable? %>
                    <!--<div class="field">-->
                      <%#= f.check_box :remember_me %>
                      <%#= f.label :remember_me %>
                    <!--</div>-->
                  <%# end %>
                <!--</td>-->
                <td>
                  <div class="actions">
                    <%= f.submit "ログイン", class: "btn btn-secondary" %>
                  </div>
                </td>
              </tr>
            <% end %>
            <tr>
              <td>
                <p>会員登録がお済みでない方</p>
                <%= render "public/shared/links" %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
